.div{
    background-color: #4fbdba;
    width: 100%;
    z-index: 3;
    position: fixed;
    top: 0px;

}    
.home_div{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
}

.boshiconlar {
    position: fixed;
    right: 0px;

    display: grid;
    grid-template-columns: repeat(5, 20%);
    width: 40%;

    /*margin-left: -35px;*/
}

.boshiconlar i{
    /*margin-left: -80%;*/
}

/*header*/

/*logobrand*/
img {
    width: 300px;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
}

/*logobrand*/

/*izlash*/
.labl {
    background: #eaecea;
    border-radius: 3px;
    margin-left: 50px;
}

.labl input, button {
    margin: 5px;
    border: none;
    outline: none;
    background: #eaecea;
    color: black;

}

.labl input::placeholder {
    color: black;
}

/*izlash*/

/*raqam*/
a {
    text-decoration: none;
    color: white;
    margin-left: 25px;
    padding-left: 20px;
}

#call {
    margin-left: 70px;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
}

/*raqam*/

/*chiziq*/
#a2 {
    border-left: 1px solid white;
}

/*chziq*/

/*iconlar*/
#icon1 {
    margin-left: 50px;
    font-size: 22px;
    margin: 5px;
}


.iconlar{
    color: #4fbdba;
    /* padding: 5px; */
    border-radius: 50%;
    padding: 8px;
    width: 38px !important;
    height: 38px;
    text-align: center;
    background-color: white;

}

#a{
    margin-left: -8px;
}
.iconlar:hover{
    background-color: whitesmoke;
    color: rgb(75, 148, 182);
}


/*kirish qismi*/
.button {
    height: 30px;
    border-radius: 5px;
    padding: 10px;

}

/*kirish qismi*/

/*navbar qismi*/

.nav_color {
    background-color: #eee;
    color: white;
    padding-left: 200px;
    font-size: 25px;
    font-weight: bold;
}



.border1 {
    border: none;
    font-size: 22px;
    font-weight: 500;
    margin-left: 50px;
}
/*navbar qismi*/
.slayd {
    text-align: center;
}

#img {
    height: 500px;
    width: 1500px;
}

#img1 {
    height: 500px;
    width: 1500px;
}

#div {
    position: fixed;
    top: 10px;
}

.card {
    margin: 10px;
  margin-left: auto;
    box-shadow: 0 0 2px 2px rgba(100, 100, 100, 0.1);
    color: #4fbdba;
}
 /*Card box Shadow*/
#salom {
    width: 100%;
    height: 350px;
    background-color: rgb(58, 49, 49);
    margin-top: 20px;
    color: white;
}

.qaley {
    display: flex;
    align-items: flex-end;
    transition: 0.5s ease-in-out;

}


.qaley:hover {
    transform: translateX(20px);
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.qaley:before {
    background: #03d2ec;
    z-index: 2;
    transition: 0.5s all;
    opacity: 1;
}
/*Card box Shadow*/

#avtomobillar {
    padding-top: 30px;
    margin-bottom: 25px;
    text-align: center;
    font-weight: bolder;
}



@media screen and (max-width: 1362px){
    #icon1{
        display: none;
        background-color: red;
    }
}

@media  screen and (max-width: 1661px) {
    .boshiconlar{
        position: fixed;
        right: -100px;
        display: grid;
        grid-template-columns: repeat(5, 15%);
        /*margin-right: -300px;*/
    }
}
@media  screen and (max-width: 765px) {
    #call{
        margin-left: 0;
    }
    .boshiconlar{
        position: fixed;
        right: -100px;
        display: grid;
        grid-template-columns: repeat(5, 15%);
        /*margin-right: -300px;*/
    }
}
@media  screen and (max-width: 1434px) {
    #call{
        margin-left: 20px;
        font-size: 20px;
    }
    .boshiconlar{
        position: fixed;
        right: -150px;
        display: grid;
        grid-template-columns: repeat(5, 10%);
        /*margin-right: -300px;*/
    }
}

.EMAIL{
    background-color: #4fbdba;
    color: white;
    font-weight: bold;
    }

#telefon_input{
    margin: 0 auto;
}
.card7{
    margin-left: -60px;
}


.rasm{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
    padding: 10px 0px;


}
.rasm_2{
    position: relative;
    /* border-radius: 5px ; */

}
.rasm_2 img{
    border-radius: 5px ;
    width: 400px;
}
#pasport_input{
    margin: 0 auto;
}
#royxatdan_otish{
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
    font-family: Sans-Serif;
}
@media  screen and (max-width: 1434px) {
    .selfi_rasim {
        padding: 15px;
    }
}
